#carscontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#cars{
    width: 100%;
    display: flex;
    font-family: var(--primaryfont);
    column-gap: 5%;
    justify-content: space-around;
    margin-top: 5vh;
}
.car{
width: 25%;
display: flex;
flex-direction: column;
align-items: center;
border: 1px gray solid;
border-radius: 10px;
padding: 1%;
}
.carimage{
    width: 80%;
    height: 40%;
    align-self: center;
}
#carddisplay{
    display: flex;
   
    width: 100%;
}
#carddisplay div{
    width: 25%;
    border: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}
#carddisplay div img{
    width: 20%;
    height: auto;
}
.car span:first-of-type{
    color: var(--dark-color);
   
    font-weight: bold;

}
.car p{
    font-size: 1.4rem;font-weight: bolder;
    color: var(--ceanblue);
}
.car span:nth-of-type(3){
    color: var(--dark-color);

}
.carsbtn{
    width: 100%;
    background-color: var(--ceanblue);
    padding: 2%;
    text-align: center;
    border-radius: 10px;
    margin-top: 5%;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.car span:nth-of-type(2){
    color: var(--ceanblue);
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
}
.carsbtn:hover{
    background-color: var(--dark-color);
    color: #00cffb;
    transform: translateY(-2%);
}
#viewall{
    width: 25%;
    padding: 1% 0;
    text-align: center;
    margin-left: 37.5%;
    border-radius: 10px;
    margin-top: 5vh;
    background-color: var(--ceanblue);
    cursor: pointer;
}
#span1{
    text-align: center;
    color: #00cffb;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 5vh;
}
#span2{
    text-align: center;
   
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2vh;
}
#carspara{
    margin-top: 3vh;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-family: var(--paragraphe);
    color: #666666;
}
#containermodal{
    display: flex;
    width: 70vw;
    justify-content: space-around;
  
}
#containermodal form{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#carimg{
    width: 30%;
height: auto;
align-self: center;
}
#btnmodal{
    width: 50%;
    padding: 2%;
    background-color: var(--ceanblue);
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
}
#circul{
    width: 100%;
    height: 100%;

   
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    display: none;
    align-items: center;
    justify-content: center;
  
}
.coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
  width: 100%;  }
  
  .coolinput label.text {
    font-size: 0.75rem;
    color: var(--ceanblue);
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: white;
    width: fit-content;
  }
  
  .coolinput input[type=text].input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px var(--ceanblue) solid;
    border-radius: 5px;
    background: transparent;
  }
  
  .coolinput input[type=text].input:focus {
    outline: none;
  }
@media (max-width:992px){
   
}
@media (max-width:1023px){
    #carspara{
        width: 70%;
   margin-left: 15%;   
margin-top: 1.5vh;}
#cars{
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.car{
    width: 70%;
}
#btnmodal{
    width: 100%;
  }
  #containermodal{
    flex-direction: column;
  
  align-items: center;}
  #carimg{
    width: 70%;
  }
  #containermodal form{
    width: 90%;
    
  }
  #containermodal{
    width: 90vw;
  }
  #viewall{width: 90%;margin-left: 5%;
padding: 10px;}
}