.categorydv{
    width: 10vw;
    height: auto;
    transition: all .5s ease-in-out;
    
    }
    
    .categpryimage{
        width: 100%;
        height: 20vh;
        
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        margin-bottom: 10px;
    }
    .categpryimage img{
        width: 60%;
        height: auto;
        
    }
    @keyframes slide {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-100%);
        }
      }
      
      .categories {
        overflow: hidden;
        background-color: var(--light-color);
        padding: 10px 0;
      
       
        position: relative;
        display: flex;
      }
      
      .categories:before,
      .categories:after {
        position: absolute;
        top: 0;
        width: 150px;
        height: 100%;
        content: "";
        z-index: 2;
      }
      
      .categories:before {
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0),var(--dark-color));
      }
      
      .categories:after {
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--dark-color));
      }
      
      .categories:hover .categories-slide {
        animation-play-state: paused;
      }
      
      .categories-slide {
        display: flex;
        animation: 35s slide infinite linear;
      }
      
      .categories-slide .categorydv {
      
        margin: 0 10px;
      }
      #catsection{
        padding: 10px 0px;
      }
      .categorydv span{
        font-family: "DM Sans", sans-serif;
    font-weight: bold;
    color: #084d50;
    margin-left: 2px;
    
    }
    #shopctheadline{
        font-family: "DM Sans", sans-serif;
        font-weight: bolder;
    color: #084d50;
    font-size: 1.5rem;
    margin-left: 1%;
    }
    .categorydv:hover{
        transform: scale(1.1);
    }
    @media (max-width:1023px){
        .categorydv{width: 50vw;}  
        .categpryimage{
            width: 100%;
            height: 30vh;
        } 
        .categpryimage img{
            width: 50%;
            height: auto;
            
        }
        .categories:before,
        .categories:after {
          position: absolute;
          top: 0;
          width: 50px;
          height: 100%;
          content: "";
          z-index: 2;
        }
    }